@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  font-size: 16px;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1,
h2,
h3 {
  color: #202020;
  font-weight: 600;
  @apply dark:text-white;
}
